.shipping-card-wrapper {
  /* text-align: center; */
  /* padding-top: 80px; */
  }
  
  .shipping-title {
  text-align: center;
  margin-bottom: 1.5rem;
  }
  
  .shipping-options {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  
  .shipping-option {
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  }
  
  .shipping-option.select-another {
  border: 2px dashed #ccc;
  }
  
  .shipping-option.select-another:hover {
  border-color: #3399ff;
  }
  
  .shipping-option.add-new {
  border: 1px solid #a0d6a0;
  background-color: #f0fff0;
  }
  
  .shipping-option.add-new:hover {
  background-color: #e6ffe6;
  }
  
  .shipping-option-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  }
  
  .icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .icon-circle.blue {
  background-color: #e0f0ff;
  }
  
  .icon-circle.green {
  background-color: #d4f4d4;
  }
  
  .icon.blue {
  color: #3399ff;
  font-size: 20px;
  }
  
  .icon.green {
  color: #339933;
  font-size: 20px;
  }
  
  .option-title {
  font-weight: 500;
  color: #333;
  margin: 0;
  }
  
  .option-subtitle {
  font-size: 14px;
  color: #777;
  margin: 0;
  }
  
  .arrow-icon {
  color: #999;
  font-size: 18px;
  }
  
  .proceed-wrapper {
    width: 100%;
    background-color: #3399ff;
    color: #fff;
    padding: 0.75rem 1rem;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
    
  .proceed-wrapper:hover {
  background-color: #267acc;
  }
  .proceed-wrapper button{
    background-color: #3399ff;
    color: #fff;
    border: none;
  }
  
  .credit-icon {
  margin-right: 8px;
  font-size: 18px;
  }
  