*{
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img_and_links{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.img_and_links img{
    width: 25%;
}
.link_container_wrapper{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    background-color: #F5F3F0;
    padding-top: 30px;
}

.link_container{
    color: black;
    display: flex;
    flex-direction: column;
}
.link_title{
    font-size: 32px;
    font-weight: 500;
}
.footer_link{
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 10px;
}
.footer_slogan{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .img_and_links{
        flex-direction: column;
    }
    .img_and_links img{
        width: 100%;
    }
    .link_container_wrapper{
        width: 100%;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        padding-top: unset;
    }
    .link_container{
        color: white;
        display: flex;
        flex-direction: column;
        
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        
    }
    .footer_slogan{
        font-size: 3rem;
    }
    
}
@media screen and (max-width: 700px) {
    .footer_slogan{
        font-size: 2rem;
    } 
}