/* ProductGrid.css */

.pr-gr-error-text {
    color: #ef4444; /* Аналог text-red-500 */
  }
  
  .pr-gr-container {
    max-width: 85rem; /* Аналог max-w-7xl (1280px) */
    margin-left: auto; /* Аналог mx-auto */
    margin-right: auto; /* Аналог mx-auto */
    padding: 2rem 1rem; /* Аналог py-8 (32px) и px-4 (16px) */
  }
  
  .pr-gr-categories-wrapper {
    margin-top: 3rem; /* Аналог mt-12 (48px) */
  }